.page_404{
    background-color: #f0f0f0;
    text-align: center;
}
.page_404_col12{
    background: url('../WPhoto/404.gif');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}
.btn_page_404{
    background: linear-gradient(45deg, #47cebe, #ef4a82);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 610px;
}
.a_page_404{
    background: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    list-style: none;
    text-decoration: none
}
.a_page_404:hover{
    color: rgb(223, 238, 16);
    text-decoration: none
}


