.MuiFormControl-root {
    margin: 5px !important;
    min-width: 200px !important;
}

.nameTable {
    display: flex;
}

.nameTable span{
    margin-left: 10px;
    font-size: 29px
}

.title_model {
    font-size: 18px;
    text-align: center;
}
.button_model {
    float: right;
    padding-top: 10px;
}
.button_model button{
    margin: 5px;
}
.input_model label{
    font-size: 16px;
    font-weight: bold;
}
.toast {
    position: absolute;
     top: -9999px;
     left: -9999px;
}
.MuiDialog-paperWidthSm {
    text-align: center !important;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
}
.MuiDialogTitle-root {
    padding: 6px 9px !important;
}
.button_model1 button{
    width: 76px;
}
.tableUI_btn1{
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
}
.material-icons-outlined{
    cursor: pointer;
}
.infomation{
    cursor: pointer;
}
.add_product{
    cursor: pointer;
}
.MuiTableRow-root:hover{
    background-color: var(--color-info-light);
    color: var(--color-primary);
}
.makeStyles-container-4 {
    max-height: 80vh !important;
}
.makeStyles-container-8 {
    max-height: 80vh !important;
}
.header_chat{
    text-align: center;
    margin-bottom: 70px;
}
.input_chat {
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.list_message {
    height: 100vh;
    overflow-y: auto;
    margin-top: 15px;
    clear: left;
}
.top_select_method_search{
    display: block !important;
}
.top_select_method_search_btn{
    margin-left: 10px !important;
    margin-top: -6px !important;
}
.form-mid-three-w3l-top-search{
    margin-left: 100px !important;
}
.form-left-w3ls-sdt {
    display: flex;
}
.form-left-w3ls-sdt input {
    width: 50% !important;
}
.chon_phong_kham {
    text-align: center;
}
.chon_phong_kham_1{
    float: left;
}
.chon_phong_kham_3{
    float: right;
}
.form-mid-three-w3l-taoma{
    display: flex;
}
.form-mid-three-w3l-taoma p{
    margin-left: 10px;
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(2, 0, 106, 0.659);
}
.form-left-w3ls-quequan{
    display: flex;
    -webkit-flex-basis: 100% !important;
}
.theodoithem{
    display: flex;
}
.theodoithem Button{
    font-size: 10px;
    margin-right: 3px;
}
.ghichu{
    width: 460px;
}
.KhachHangDoi{
    overflow-x: auto;
}
.theodoithem .color1{
    background-color: rgb(240, 236, 188);
}
.theodoithem .color2{
    background-color: rgb(160, 207, 239);
}
.theodoithem .color3{
    background-color: rgb(246, 112, 91);
}
.theodoithem .color4{
    background-color: rgb(129, 245, 100);
}
.makeStyles-container-19 {
    max-height: 500px !important;
}
.makeStyles-root-18 {
    height: 500px !important;
}
.chonPhongRoom .center {
    padding: 30px !important;
}